<h2 class="subTitle">Payment details <span data-ng-show="fundId">for funding {{fundId}}</span></h2>
<div id="chart"></div>
<table data-ng-table="tableParams" class="table" data-show-filter="true">
<tr data-ng-repeat="payment in payments">
    <td data-title="'Payment Id'" data-filter="{ 'paymentId': 'text' }" data-sortable="'paymentId'">{{payment.paymentId}}</td>
    <td class="no-wrap" data-placeholder="YYYY-MM-DD" data-title="'System-Date'" data-filter="{ 'systemDate': 'text' }" data-sortable="'systemDate'">{{payment.systemDate}}</td>
    <td data-title="'Pmt Code'"data-filter="{ 'pmtCode': 'text' }" data-sortable="'pmtCode'">{{payment.pmtCode}}</td>
    <td data-title="'Amount'"data-filter="{ 'amount': 'text' }" data-sortable="'amount'">{{payment.amount}}</td>
</tr>
</table>
